div.store-div {
    min-width: 400px;
    max-width: 800px;
    margin: auto;
}

.store-item {
    padding-left: 2em;
    height: 140px;
    font-size: 14pt;
}

.store-item img {
    width: 210px;
    float: right;
}

.store-item button {
    font-size: inherit;
    width: 120px;
    height: 2em;
    color: white;
    background: green;
    border: none;
    border-radius: 0.5em;
}

.store-item button:disabled {
    color: grey;
    background: silver;
}