div.rf-div {
    text-align: center;
    font-size: 18pt;
    line-height: 1.5em;
    max-width: 800px;
}

.rf-div img {
    border: 1px solid black;
    width: 70%;
    max-width: 600px;
}

.rf-div button {
    font-size: inherit;
    border: none;
    border-radius: 0.5em;
    color: white;
    width: 48%;
    height: 3em;
    margin: 1%;
}

.rf-div button.real {
    background: green;
}

.rf-div button.real:hover {
    background: lime;
    color: black;
}

.rf-div button.fake {
    background: red;
}

.rf-div button.fake:hover {
    background: lightcoral;
    color: black;
}
